{% extends 'base.html' %}

{% block content %}
      <nav class="navbar navbar-dark bg-secondary  navbar-expand-lg">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/menu">Menu</a>
              </li>
              <li class="nav-item" id="cart">
                <a href="/cart"><img src="static/images/cart2.png" alt="cart" height="50px"></a>Cart
              </li>
        
              
              
            </ul>
            
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block contenttwo   %}
    <br>
        <div class="container">
            
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="static/images/pizza mushrooms.jpeg" alt="Card image cap">
                        <div class="card-body">
                          
                          <p class="card-text">Enjoy your Pizza with Button Mushrooms toppings.</p>
                          <button type="button" style=" background-color: gold;">Add to Cart</button>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/veg pizza.jpeg" alt="Card image cap">
                    <div class="card-body">
                      
                      <p class="card-text">Enjoy your Pizza with Vegetable toppings.</p>
                      <button type="button" style=" background-color:gold;">Add to Cart</button>
                    </div>
                  </div>
                </div>
                  
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" img src="static/images/peperoni pizza.jpeg" alt="Card image cap" height="auto">
                    <div class="card-body">
                      <p class="card-text">Enjoy your Pizza with Pepperoni toppings.</p>
                      <button type="button" style=" background-color:gold;">Add to Cart</button>
                    </div>
                  </div>

                  </div>
                </div>
                <br>
                  <div class="row"> 
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" img src="static/images/beef pizza.jpeg" alt="Card image cap" height="190px">
                    <div class="card-body">
                      <p class="card-text">Enjoy your Pizza with Beef toppings.</p>
                      <button type="button" style=" background-color:gold;">Add to Cart</button>
                    </div>
                  </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" img src="static/images/Chicken Hawaiian pizza.jpeg" alt="Card image cap" height="190px">
                    <div class="card-body">
                      <p class="card-text">Enjoy your Pizza with chicken hawaiian pizza toppings.</p>
                      <button type="button" style=" background-color:gold;">Add to Cart</button>
                    </div>
                  </div>
                  </div>
                  
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" img src="static/images/pizza chicken.jpeg" alt="Card image cap" height="190px">
                    <div class="card-body">
                      <p class="card-text">Enjoy your Pizza with Chicken toppings.</p>
                      a<button type="button" style=" background-color:gold;">Add to Cart</button>
                    </div>
                  </div>
                  </div>

                </div>
              </div>
        <br>
    
       </div>
        

    {% endblock    %}


    
